{% extends 'registro_principal.html'%}
{% block contenido%}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}registro.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}font/css/fontello.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../../themes/base/jquery.ui.all.css">
	<script src="../../jquery-1.9.1.js"></script>
	<script src="../../ui/jquery.ui.core.js"></script>
	<script src="../../ui/jquery.ui.widget.js"></script>
	<script src="../../ui/jquery.ui.datepicker.js"></script>
	<link rel="stylesheet" href="../demos.css">
	<script>
	$(function() {
		$( "#datepicker" ).datepicker();
	});
	</script>
<div class="section" id="section2">
  <div class="signup-form">
    <h4>Registro en Segundos!</h4>
    <p> social ace</p>
	<form class="form-wrapper-01" id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
		{{formulario.as_table}}
	<p><input class="button" type='submit' value='confirmar'><i class="icon-paper-plane"></i></input></p>
</div>
</div>
{% endblock %}
